OstaraBot/config.py
OstaraBot/*.session
OstaraBot/*.session-journal
OstaraBot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
OstaraBot/modules/helper_funcs/temp.txt
OstaraBot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
ostara.session-journal
updates.txt
